body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.everything {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 0.9fr 4fr / 0.8fr 3fr;
}

/* Sidebar */
.sidebar {
    background-color: rgb(53, 219, 231);
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    align-items: center;

    padding: 15px;
    font-size: 1.5em;
    font-weight: bold;
}

#header > img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.sidebar-components:not(#header) {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(25px, 1fr));
    gap: 15px;

    font-size: 1em;
    font-weight: bold;
}

.sidebar-components > div > img {
    height: 20px;
    width: 20px;
    margin-right: 25px;
}

.sidebar-components > div {
    display: flex;
    flex-direction: row;
    flex: 1;

    padding: 10px 25px;
    align-items: center;
    transition: transform 0.3s ease;
}

#user-feature {
    margin-top: 70px;
}

#user-ssp {
    margin-top: auto;
    margin-bottom: 40px;
}

.sidebar-components > div:hover {
    background-color: rgb(12, 174, 185);
    opacity: 0.7;
    cursor: pointer;
    transform: translateY(-3px);
}

/* HEADER */
.header {
    grid-column: 2;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.search-name {
    display: grid;
    grid-template-columns: 2fr 0.5fr;
}

.search-icon-bar {
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 1;

    padding: 15px;
}

form {
    display: flex;
    align-items: center;
}

#search-icon {
    border: none;
    outline: none;
    background-color: white;
}

#search-icon:hover {
    cursor: pointer;
}

input[type="search"] {
    appearance: none;

    flex: 0.8;
    padding: 15px;
    margin-left: 10px;
    background-color: #e2e0e0;
    color: #201f1f;
    border: none;
    border-radius: 15px;
    height: 30px;

    font-size: 16px;
}

input[type="search"]:hover {
    opacity: 0.7;
}

#user-img-smaller {
    height: 30px;
    width: 30px;
}

#user-loggin-topright {
    display: grid;
    gap: 15px;
    grid-template-columns: 0.4fr 0.5fr 1fr;
    align-items: center;

    margin-right: 20px;
}

.username {
    display: flex;
    flex: 1;

    font-size: 1.2em;
    font-weight: bold;
}

#topright {
    font-size: 1.1em;
    justify-content: flex-end;
}



.bell-icon {
    width: 25px;
    height: 25px;
    background-image: url(img/bell.svg);
    background-size: cover;
}

.bell-icon:hover {
    background-image: url(img/bell-outline.svg);
    cursor: pointer;
}

/* HEADER LOWER HALF */
.actions {
    display: grid;
    grid-template-columns: 70px 1.5fr 3fr;
    padding-left: 15px;

    margin-bottom: 10px;
}

img[alt="profile-pic-user"] {
    background-color: rgb(208, 208, 245);
    border: 2px solid rgba(0, 0, 0, 0.048);
    border-radius: 50%;
    justify-self: center;
    align-self: center;

    object-fit: cover;
    text-align: center;
    height: 60px;
    width: 60px;
    flex-shrink: 0;
}

#greet {
    font-weight: bold;
    font-size: 0.8em;

    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.username-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.buttons-container {
    display: flex;
    flex: 1;
    margin-right: 20px;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: flex-end;
}

.btn {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: none;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    background-color: rgb(119, 226, 226);

    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease;
}

.btn:hover {
    background-color: rgb(102, 221, 221);
     transform: translateY(-3px);
}

.contents-components {
    display: grid;
}

/* CONTENTS */
.contents {

    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    padding: 35px 20px;
    gap: 15px;

    box-shadow: inset 0em 1px 5px 0px #b6b9be;
    background-color: #dbe4f1;
}

#your-project {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    grid-template: 40px 1fr / 1fr 1fr ;
}

/* YOUR PROJECT'S CONTENTS */
.header-name {
    font-weight: bold;
    font-size: 1em;
}

.your-project-contents-layout {
    grid-column: 1/3;
    grid-row: 2/3;
    gap: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#group-icons {
    height: 24px;
    width: 24px;
}

.project-container {
    background-color: white;
    padding: 30px 20px;
    border-radius: 10px;
    border-left: 8px solid orange;

    display: grid;
    grid-template: 1fr 30px / 1fr 1fr;
    transition: transform 0.2s ease;
}

.project-container:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

.project-contents {
    grid-column: 1 / 3;
}

.pat-header {
    font-weight: bold;
    font-size: 0.9em;
}

.pat-body {
    font-weight: lighter;
    font-size: 0.75em;
}

.project-status-icons {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.project-status-icons > img:hover {
    opacity: 0.5;
    cursor: pointer;
}

/* ANNOUNCEMENT */
#announcements {
    grid-template-rows: 40px 1fr;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.announcements-container {
    grid-row: 2/3;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 10px 20px;
}

.announcement-background {
    background-color: white;
    border-radius: 10px;

    display: flex;
    justify-content: center;
}

.announcements-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 10px 0;
}

.announcements-container > .announcements-contents:not(:last-child) {
    border-bottom: 1px solid gray;
}

.pat-center-body, .pat-smaller-header {
    font-size: 0.7em;
}

/* TRENDING */
#trending {
    grid-template-rows: 40px 1fr;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.trending-container {
    grid-row: 2/3;

    display: flex;
    flex-direction: column;
    flex: 1;

    padding: 10px 20px;
}

.trending-background {
    background-color: white;
    border-radius: 10px;
    grid-row: 2/3;

    display: flex;
    flex: 1;
}

.trending-contents {
    display: flex;
    flex: 1;
    align-items: center;
}

#user-img-smaller2 {
    height: 40px;
    width: 40px;
    grid-row: 1/3;
}

.trending-user-name {
    font-size: 0.8em;
    font-weight: bold;
    grid-row: 1/2;
}

.trending-user-tag {
    font-size: 0.9em;
    font-weight: lighter;
    grid-row: 2/3;
}

.trending-user-name, .trending-user-tag {
    padding: 0px 20px;

    display: flex;
    align-items: center;
}

.together {
    display: flex;
    flex-direction: column;
    justify-content: center;
}